* {
  margin: 0;
  padding: 0;
}

label {
display: block;
font-style: normal;
font-size: 14px;
font-weight: normal;
}

p {
  font-weight: bold;
  font-style: normal;
}

h3 {
  text-align: center;
  color: #e65100
}

.well1 {
  background-color: white
  border: 0px;
}

.spacer {
  height:10px;
}

input {
width: 30px;
margin-left: 20px;
font-size: 20px;
}

.button {
  background-color: #e65100;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
  color: white;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

.jumbotron {
  margin-top: 20px;
  margin-left: 0px;
  background: url(../img/hero.jpg);
  background-size: cover;
  color: white;
  height: auto;
}

#background {
  background: url(../img/hero.jpg);
  height:100vh;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding:0px;
}
